# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Ignore environment variable files
.env.local
.env
.env.*.local


# Logs
logs/
*.log
debug.log

# Build and Cache
dist/
build/
.cache/
.out/

# IDE and Editor Files
.vscode/ 
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db
